body {
  margin: 0;
  background-color: white;
}

:root {
  --main-purple: #6534a7;
  --dark-purple: #3f295e;
  --light-purple: #8762b4;
  --light-grey: #F4F4F4;
}

@tailwind base;
@tailwind components;
@tailwind utilities;