@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply mx-4 my-4 md:mx-20 md:my-8;
  background-color: white;

}

:root {
  --main-purple: #6534a7;
  --dark-purple: #3f295e;
  --light-purple: #8762b4;
  --light-grey: #F4F4F4;
}

@layer components {
  .new-application-btn{
    @apply rounded-lg px-2.5 py-1 lg:px-4 lg:py-1.5 text-sm lg:text-base bg-main-purple hover:bg-dark-purple text-white 
      font-bold font-opensans tracking-wide cursor-pointer;
  }
  .form-input{
    @apply border p-3 w-full rounded-lg cursor-pointer focus:outline-1 focus:outline-light-purple;
  }
  .main-title{
    @apply font-opensans text-lg md:text-2xl font-bold ml-0 mr-auto my-auto pr-3;
  }
}

@layer utilities {
  .results-section {
    @apply overflow-scroll border-b;
    max-height: 32em;
  }

  .loading-animation {
    display: flex;
    justify-content: center;
  }
  .loading-animation > div {
    width: 16px;
    height: 16px;
    margin: 3px 6px;
    border-radius: 50%;
    opacity: 1;
    animation: loading-animation 0.6s infinite alternate;
  }
  @keyframes loading-animation {
    to {
      opacity: 0.1;
      transform: translateY(-16px);
    }
  }
  .loading-animation > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  .loading-animation > div:nth-child(3) {
    animation-delay: 0.4s;
  }
}
